/* Button CSS - START */
.button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 3px;
  color: var(--white);
  &.dark {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    &:hover{
      background-color: var(--white);
      color: var(--primary);
      cursor: pointer;
    }
  }
  &.light {
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    &:hover{
      background-color: var(--white);
      color: var(--dark-grey);
      cursor: pointer;
    }
  }
  &.large{
    width: 100%;
    font-size: var(--input);
  }
  &.medium{
    width: 49%;
    padding: 7px 10px;
    font-size: var(--smaller);
  }
  &.small{
    width: 24%;
    font-size: var(--regular15);
  }
  &.tiny{
    padding: 2px 4px;
    
  }
  &:focus{
    outline: none;
  }
}
@media only screen and (max-width: 900px) {
  .button {
    &.medium{
      width: 100%;
    }
    &.small{
      width: 100%;
    }
  }
}
/* Button CSS - END */
