/* List CSS - START */
.features-list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &.three {
    .tiles {
      width: 30%;
      margin-bottom: 5%;
      background-color: var(--white);
      min-height: 225px;
      display: flex;
      flex-direction: column-reverse;
      padding: 20px 30px;
      &:not(:nth-child(3n)) {
        margin-right: 5%;
      }
    }
  }
  &.four {
    .tiles {
      width: 23.5%;
      margin-bottom: 5%;
      background-color: var(--white);
      min-height: 225px;
      display: flex;
      flex-direction: column-reverse;
      padding: 20px 30px;
      &:not(:nth-child(4n)) {
        margin-right: 2%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .features-list-wrapper {
    &.three {
      .tiles {
        width: 48%;
        &:not(:nth-child(3n)) {
          margin-right: 0;
        }
        &:not(:nth-child(2n)) {
          margin-right: 4%;
        }
      }
    }
    &.four {
      .tiles {
        width: 48%;
        &:not(:nth-child(4n)) {
          margin-right: 0;
        }
        &:not(:nth-child(2n)) {
          margin-right: 4%;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .features-list-wrapper {
    &.three {
      .tiles {
        width: 100%;
        min-height: 150px;
        &:not(:nth-child(3n)) {
          margin-right: 0;
        }
        &:not(:nth-child(2n)) {
          margin-right: 0%;
        }
      }
    }
    &.four {
      .tiles {
        width: 100%;
        min-height: 150px;
        &:not(:nth-child(4n)) {
          margin-right: 0;
        }
        &:not(:nth-child(2n)) {
          margin-right: 0%;
        }
      }
    }
  }
}
/* List CSS - END */
